* {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  margin: 0;
  text-decoration: none;

  --space-1: 64px;
  --space-2: 32px;
  --space-3: 16px;
  --space-4: 8px;
  --space-5: 4px;
  --space-6: 2px;
}

html {
  min-height: 100vh;
  background-color: hsl(210, 50%, 25%);
}

#app {
  width: 100%;

  background-color: hsl(210, 50%, 10%);
}

h1 {
  font-size: 36px;
}
h2{
  font-size: 32px;
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}
p {
  font-size: 12px;
}

svg .svg-fill {
  fill: hsl(210, 50%, 80%);
}


@media (max-width: 1000px) {
  * {
  --space-1: 32px;
  --space-2: 16px;
  --space-3: 8px;
  --space-4: 4px;
  --space-5: 2px;
  --space-6: 1px;
  }

  h1 {
    font-size: 32px;
  }
  h2{
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
  h4 {
    font-size: 20px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 12px;
  }
  p {
    font-size: 8px;
  }
}