* {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: white;
  margin: 0;
  text-decoration: none;
}

#app {
  width: 100%;

  background-color: hsl(210, 50%, 10%);
}